<% include ./partials/header %>
<div class="row">
  <h1 style="text-align: center">Sign Up</h1>
  <div style="width: 30%; margin: 25px auto;">
    <form action="/register" method="post">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="adminCheck"
          onclick="show()"
        />
        <label class="custom-control-label" for="adminCheck"
          >I am an admin</label
        >
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          id="adminCode"
          name="adminCode"
          placeholder="Admin Code"
          style="display: none;"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
<script>
  function show() {
    // Get the checkbox
    var adminCheck = document.getElementById("adminCheck");
    // Get the output text
    var adminCode = document.getElementById("adminCode");

    // If the checkbox is checked, display the output text
    if (adminCheck.checked == true) {
      adminCode.style.display = "block";
    } else {
      adminCode.style.display = "none";
    }
  }
</script>
<% include ./partials/footer %>
