<% include ../partials/header %>
<div class="row justify-content-center my-5">
  <div class="col-md-12 text-center">
    <h1 class="h3 mb-3 font-weight-normal">Create a New Campground</h1>
  </div>
  <div class="col-md-8">
    <form action="/campgrounds" method="POST" enctype="multipart/form-data">
      <div class="form-group row justify-content-between">
        <label class="my-2 mx-3" for="name">Name</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            name="name"
            id="name"
            placeholder="Yosemite"
          />
        </div>
      </div>
      <div class="form-group row justify-content-between">
        <label class="my-2 mx-3" for="price">Price</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            name="price"
            id="price"
            placeholder="9.99"
            step="0.01"
            min="0"
            required
          />
        </div>
      </div>
      <div class="form-group row justify-content-between">
        <label class="my-2 mx-3" for="location">Location</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            name="location"
            id="location"
            placeholder="Yosemite National Park, CA"
          />
        </div>
      </div>
      <div class="form-group row justify-content-between">
        <label class="my-2 mx-3" for="description">Description</label>
        <div class="col-sm-9">
          <textarea
            class="form-control"
            name="description"
            id="description"
            rows="4"
            cols="50"
            placeholder="California’s Sierra Nevada mountains."
          ></textarea>
        </div>
      </div>
      <div class="form-group row justify-content-between">
        <label class="my-2 mx-3" for="image">Image</label>
        <div class="col-sm-9">
          <input
            class="form-control-file"
            type="file"
            id="image"
            name="image"
            accept="image/*"
            required
          />
        </div>
      </div>
      <div class="form-group row justify-content-end mt-5 mt-sm-0">
        <div class="col-sm-9">
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
<% include ../partials/footer %>
