.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}
.delete-form {
  display: inline;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

/* starability */
.checked {
  color: orange;
}

.border-5 {
  border-left: 5px solid #00c851;
}
